# ---- اسرار — این‌ها هرگز نباید commit بشن ----
.env
*.jks
*.keystore
local.properties
*.p12
KEYSTORE_PASSWORD_SAVE_THIS.txt

# ---- خروجی build ----
*.iml
.gradle/
build/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab

# ---- خروجی Roborazzi screenshot tests ----
app/src/test/screenshots/
